/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
 body{
  background-image: url('https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg');
  background-size: cover;
}
body {
  background-size: cover;
  background-position: left;

  animation: alternateBackground 10s ease-in infinite alternate;
}

@keyframes alternateBackground {
  0% {
    background-image: url('https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg');
  }
  100% {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/197/246/large_2x/glowing-neon-line-clipboard-with-checklist-icon-isolated-on-brick-wall-background-control-list-symbol-survey-poll-or-questionnaire-feedback-form-illustration-isolated-on-brick-wall-vector.jpg');
    
  }
}



.todo-app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 80px;
  border-radius: 10px;
  padding-bottom: 32px;
  margin-left: auto;
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}



h1{
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete{
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form{
  margin-bottom: 32px;
}

.todo-input{
  padding: 16px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input{
  color: #e2e2e2;
}

.todo-button{
 
  padding: 6px 14px 16px 14px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(63, 49, 219) 0%,
    rgb(106, 95, 205) 100%
  );
  color: white;
  text-transform: capitalize;
  transition: background 0.3s;
}

 .todo-button:hover {
 
  color: green;
  
}


.todo-input.edit{
  border: 2px solid rgb(111, 228, 111);
}

.delete-icon:hover{
  color: red;
}

.edit-icon:hover{
  color: black;
}
.todo-button.edit{
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%
    rgba(17, 122, 255, 1) 100%
  );
  padding: 18px 22px 16px 22px;
}

.todo-container{
  display: flex;
  flex-direction: row;
  position: relative; 
}

.todo-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
   90deg,
   rgb(212, 116, 207) 0%,
   rgb(82, 70, 77) 100%
  );
  
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(3n+1){
 background: linear-gradient(
  90deg,
  rgb(177, 151, 228) 0%,
  rgb(176, 85, 233) 100%
 );
}

.todo-row:nth-child(3n+2){
  background: linear-gradient(
      90deg,
      rgb(227, 167, 130) 0%,
      rgb(129, 102, 58) 100%
    );
  
   .icons{
    display: flex;
    align-items: center;
    font-size: 5px;
    cursor: pointer;
   }
   .icons i:hover {
    transform: scale(1.2);
  }

   .delete-icon{
    margin-right: 5px;
    color: #fff;
   }

   
 }

 